body {
    background: linear-gradient(to right, skyblue, black);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

iframe {
    width: 1280px;
    height: 720px;
}

button {
    border: 3px solid white;
}